@model DRD.Models.Profession

@{
    ViewData["Title"] = "Nové Povolání";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label text-light"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-light"></label>
				<textarea asp-for="Description" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mana" class="control-label text-light"></label>
                <input asp-for="Mana" class="form-control" />
                <span asp-validation-for="Mana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hp" class="control-label text-light"></label>
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HpBonus" class="control-label text-light"></label>
                <input asp-for="HpBonus" class="form-control" />
                <span asp-validation-for="HpBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label text-light"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agility" class="control-label text-light"></label>
                <input asp-for="Agility" class="form-control" />
                <span asp-validation-for="Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constitution" class="control-label text-light"></label>
                <input asp-for="Constitution" class="form-control" />
                <span asp-validation-for="Constitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intelligence" class="control-label text-light"></label>
                <input asp-for="Intelligence" class="form-control" />
                <span asp-validation-for="Intelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charisma" class="control-label text-light"></label>
                <input asp-for="Charisma" class="form-control" />
                <span asp-validation-for="Charisma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvoř" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-primary">Zpět</a>
            </div>
        </form>
    </div>
</div>


