@model DnDV4.Models.Race

@{
    ViewData["Title"] = "Konfigurátor rasy";
}

<h1>Vytvoř novou rasu</h1>


 <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6 border border bg-warning">

            <div class="form-group">
                <label asp-for="RaceName" class="control-label"></label>
                <input asp-for="RaceName" class="form-control" />
                <span asp-validation-for="RaceName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6 border border bg-warning">
            <div class="form-group">
                <label asp-for="RaceDescription" class="control-label"></label>
                <input asp-for="RaceDescription" class="form-control" />
                <span asp-validation-for="RaceDescription" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="container-fluid bg-light">
            <div class="row">

                <div class="col-2 border border bg-warning">

                    <div class="form-group">
                        <label asp-for="Strength" class="control-label"></label>
                        <input asp-for="Strength" class="form-control" />
                        <span asp-validation-for="Strength" class="text-danger"></span>
                        <div class="form-group w-100">
                            <label asp-for="Strength_Max" class="control-label"></label>
                            <input asp-for="Strength_Max" class="form-control" />
                            <span asp-validation-for="Strength_Max" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Strength_Corection" class="control-label"></label>
                            <input asp-for="Strength_Corection" class="form-control" />
                            <span asp-validation-for="Strength_Corection" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-2 border border bg-warning">
                    <div class="form-group">
                        <label asp-for="Agility" class="control-label"></label>
                        <input asp-for="Agility" class="form-control" />
                        <span asp-validation-for="Agility" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Agility_Max" class="control-label"></label>
                        <input asp-for="Agility_Max" class="form-control" />
                        <span asp-validation-for="Agility_Max" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Agility_Corection" class="control-label"></label>
                        <input asp-for="Agility_Corection" class="form-control" />
                        <span asp-validation-for="Agility_Corection" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2 border bg-warning">
                    <div class="form-group">
                        <label asp-for="Constitution" class="control-label"></label>
                        <input asp-for="Constitution" class="form-control" />
                        <span asp-validation-for="Constitution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Constitution_Max" class="control-label"></label>
                        <input asp-for="Constitution_Max" class="form-control" />
                        <span asp-validation-for="Constitution_Max" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Constitution_Corection" class="control-label"></label>
                        <input asp-for="Constitution_Corection" class="form-control" />
                        <span asp-validation-for="Constitution_Corection" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2 border bg-warning">
                    <div class="form-group">
                        <label asp-for="Intelligence" class="control-label"></label>
                        <input asp-for="Intelligence" class="form-control" />
                        <span asp-validation-for="Intelligence" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Intelligence_Max" class="control-label"></label>
                        <input asp-for="Intelligence_Max" class="form-control" />
                        <span asp-validation-for="Intelligence_Max" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Intelligence_Correction" class="control-label"></label>
                        <input asp-for="Intelligence_Correction" class="form-control" />
                        <span asp-validation-for="Intelligence_Correction" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2 border bg-warning">
                    <div class="form-group">
                        <label asp-for="Charisma" class="control-label"></label>
                        <input asp-for="Charisma" class="form-control" />
                        <span asp-validation-for="Charisma" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Charisma_Max" class="control-label"></label>
                        <input asp-for="Charisma_Max" class="form-control" />
                        <span asp-validation-for="Charisma_Max" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Charisma_Correction" class="control-label"></label>
                        <input asp-for="Charisma_Correction" class="form-control" />
                        <span asp-validation-for="Charisma_Correction" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-2 border bg-warning">
                    <div class="form-group">
                        <label asp-for="Mobility" class="control-label"></label>
                        <input asp-for="Mobility" class="form-control" />
                        <span asp-validation-for="Mobility" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RaceSize" class="control-label"></label>
                        <input asp-for="RaceSize" class="form-control" />
                        <span asp-validation-for="RaceSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SpecialAbilities" class="control-label"></label>
                        <input asp-for="SpecialAbilities" class="form-control" />
                        <span asp-validation-for="SpecialAbilities" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>


        <input type="submit" value="Create" class="col-6 border bg-warning" />

        <a asp-action="Index" class="col-6 border bg-warning">Zpět</a>

    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
