@model DnDV4.Models.CharacterWeapon

@{
    ViewData["Title"] = "Výběr zbraně";
}
<hr />
<div class="row ">
    <div class="col-4"></div>
    <div class="col-4 characterCard">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="CharacterID" /> 
            
            <div class="form-group text-center w-100">
                <label asp-for="WeaponId" class="control-label">Zbraň</label>
                <select asp-for="WeaponId" class ="form-control text-center" asp-items="ViewBag.WeaponId"></select>
            </div>

            <p class="form-group text-center">
                <input type="submit" value="To musím mít!" class="btn btn-primary" />
            </p>

            <p class="text-center">
                <a asp-action="Index" class="text-decoration-none btn btn-outline-black" asp-route-CharacterId="@ViewBag.CharacterId">Zpět</a>
            </p>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
