html {
    font-size: 14px;
    max-width: 1200px;
    min-width: 320px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.atribut-ramecek {
    border: 2px solid black;
    width: 90px;
    height: 75px;
    border-radius: 20px 0;
    text-align: center;
    background-color: #3b3b3b44;
    box-shadow: 5px 5px 10px black;
    margin: 10px 0px 35px -5px;
    padding-top: 5px;
}

.atribut {
    text-align: center;
    margin: 5px 0px 5px 0;
}

.vlastnost {
    margin: 0;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.bonus {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    background-color: #ffffff;
    width: 40px;
    padding: 10px 0;
    margin: -10px 0px 00px 0px;
}

ul {
    font-size: 0.75rem;
}